#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
#    log         127.0.0.1 local2

#    chroot      /var/lib/haproxy
#    pidfile     /var/run/haproxy.pid
    maxconn     4000
#    user        haproxy
#    group       haproxy
    daemon

    # turn on stats unix socket
#    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
#    log                     global
    timeout connect         4s
    timeout client          10s
    timeout server          10s

#---------------------------------------------------------------------
# main frontend which proxys to the backends
#---------------------------------------------------------------------
frontend ft_redis
    #bind 169.56.66.37:7777 name redis
    bind *:7777 name redis
    default_backend bk_redis

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------
backend bk_redis
    option tcp-check
    tcp-check connect
    tcp-check send AUTH\ masterpassword\r\n
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    tcp-check expect string +OK
    server R1 mastername:6379 check
    server R2 slavename:6379 check
